body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2F582582901791523492%2F&psig=AOvVaw1squXleVExgSBO1aSshMLM&ust=1622807927942000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCID05-W0-_ACFQAAAAAdAAAAABAJ");
}

* {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

a {
    font-weight: bold;
    color: blue;
}
